<title>Green Sensor</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    #menu a{
        color: green;
        background-color:greenyellow;
    }
    #menu a:hover {
        color: green;
        background-color: #000080;
        border-bottom: greenyellow solid 2px;
    }
    .jumbotron.header{
        background-color: #37b82f;
        color: #000080;
        background-image: linear-gradient(lightseagreen,lawngreen);
    }
</style>
<div class="jumbotron header text-center">
    <h1>Green Sensor</h1>
    <p>Tecnologia de Eficiência Energética</p>
</div>
<div class="text-right mr-4">
     <a href="/logout/">Sair</a>
</div>

<div id="menu">
    <ul class="nav ml-4 mb-4">
        <li class="nav-item">
            <a class="nav-link" href="#">Prédios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Devices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Editar</a>
        </li>

    </ul>
</div>
